{{define "dashboard.tmpl"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambodia Tax Portal</title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="antialiased font-sans p-6 bg-gray-50">
    <h1 class="text-3xl font-bold mb-6">Cambodia Tax Portal</h1>
    <div>
      <ul class="space-y-2">
        <li>
          <a href="/sale" class="text-blue-700 hover:underline">Sale Report</a>
        </li>
        <li>
          <a href="/salecrdr" class="text-blue-700 hover:underline"
            >Sale CR DR Report</a
          >
        </li>
        <li>
          <a href="/purchase" class="text-blue-700 hover:underline"
            >Purchase Report</a
          >
        </li>
        <li>
          <a href="/purchasecrdr" class="text-blue-700 hover:underline"
            >Purchase CR DR Report</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
{{ end }}
